export("add.edge", "add.node", "compile.gRv", 
       "clone.domain", "compress", "delete.edge",
       "delete.node", "get.nodes", "get.belief",
       "get.normalization.constant", "get.parents", "get.table",
       "hugin.domain", "initialize.domain", "list.domains", 
       "map.configurations", "print.gRv",
       "print.gRv", "propagate.gRv",
       "set.finding", "set.table", "propagate.gRv")

S3method(print,gRv)
S3method(propagate,gRv)
S3method(compile,gRv)
S3method(triangulate,gRv)

import(gRain)
importFrom(gRbase,propagate,compile,triangulate)
importFrom(methods,is)
importFrom(rlang,env,env_clone)

